<span id="arabic_key_board" class="row-fluid" style="z-index:9999">
    <div style="text-align:right" class="row-fluid" id="key_board_header">
        <span  id="mobile_symbol_screen" class="key-state-idle key-state hand"><i class="icon-th-large"></i></span>
        <span  id="20" class="key-state-idle key-state hand">? <i class="icon-th"></i></span>
        <span  id="17" class="key-state key-state-idle hand"> <i class=" icon-arrow-up"></i></span>
        <span style="color: white">العربية</span>
        <span  id="arabic_key_board_hide" class="hand">إخفاء</span>
    </div>
    <div class="row-fluid text-center" id="default_keys_container">
            <input type="button" class="keyboard keys-symbol" id="222" />
            <input type="button" class="keyboard keys-symbol" id="49"/>
            <input type="button" class="keyboard keys-symbol" id="50"/>
            <input type="button" class="keyboard keys-symbol" id="51"/>
            <input type="button" class="keyboard keys-symbol" id="52"/>
            <input type="button" class="keyboard keys-symbol" id="53"/>
            <input type="button" class="keyboard keys-symbol" id="54"/>
            <input type="button" class="keyboard keys-symbol" id="55"/>
            <input type="button" class="keyboard keys-symbol" id="56"/>
            <input type="button" class="keyboard keys-symbol" id="57"/>
            <input type="button" class="keyboard keys-symbol" id="48"/>
            <input type="button" class="keyboard keys-symbol" id="219"/>
            <input type="button" class="keyboard keys-symbol" id="187"/>
            <input type="button" class="keyboard" value="←" style="width: 56px !important;" id="8"/> <br class="key-board-large-screen">
            <input type="button" class="keyboard keys-char" id="65">
            <input type="button" class="keyboard keys-char" id="90"/>
            <input type="button" class="keyboard keys-char" id="69" />
            <input type="button" class="keyboard keys-char" id="82" />
            <input type="button" class="keyboard keys-char" id="84" />
            <input type="button" class="keyboard keys-char" id="89" />
            <input type="button" class="keyboard keys-char" id="85"/>
            <input type="button" class="keyboard keys-char" id="73"/>
            <input type="button" class="keyboard keys-char" id="79" />
            <input type="button" class="keyboard keys-char" id="80" />
            <input type="button" class="keyboard keys-char" id="221" />
            <input type="button" class="keyboard keys-char" id="186" />
            <input type="button" class="keyboard" style="width: 48px !important;" value="↲" id="13"/><br class="key-board-large-screen">
            <input type="button" class="keyboard keys-char" id="81"/>
            <input type="button" class="keyboard keys-char" id="83"/>
            <input type="button" class="keyboard keys-char" id="68"/>
            <input type="button" class="keyboard keys-char" id="70"/>
            <input type="button" class="keyboard keys-char" id="71"/>
            <input type="button" class="keyboard keys-char" id="72"/>
            <input type="button" class="keyboard keys-char" id="74"/>
            <input type="button" class="keyboard keys-char" id="75"/>
            <input type="button" class="keyboard keys-char" id="76"/>
            <input type="button" class="keyboard keys-char" id="77"/>
            <input type="button" class="keyboard keys-char" id="192"/>
            <input type="button" class="keyboard keys-char" id="220"/><br class="key-board-large-screen">
            <input type="button" class="keyboard keys-char" id="226"/>
            <input type="button" class="keyboard keys-char" id="87"/>
            <input type="button" class="keyboard keys-char" id="88"/>
            <input type="button" class="keyboard keys-char" id="67"/>
            <input type="button" class="keyboard keys-char" id="86"/>
            <input type="button" class="keyboard keys-char" id="66"/>
            <input type="button" class="keyboard keys-char" id="78"/>
            <input type="button" class="keyboard keys-char" id="188"/>
            <input type="button" class="keyboard keys-symbol" id="190"/>
            <input type="button" class="keyboard keys-symbol" id="191"/>
            <input type="button" class="keyboard keys-symbol" id="223"/><br class="key-board-large-screen">
            <input type="button" class="keyboard keys-char key-espace" value=' ' id="32"/>
    </div>
</span>