{% extends "base.html" %}
<!-- title -->

{% block title %} Help {% endblock %}

{% block content %}
    <div class="offset1 span8 pull-left">
        <div id="page-content">
            <header id="page-header" class="title">
                <h1>Contact</h1>
                <p>

                    Send us a message or get in touch using the details below. Talk to you soon!

                </p>
            </header>
        </div>
        <div class="span2 pull-left ">
           We believe that technology is built by human to solve its problems.
           Feel free to contact me, twitter  : @houssem_fat
        </div>
    </div>

{% endblock %}