<!-- g+ -->
        <a class='share-btn' href="https://plus.google.com/share?url=https://www.pythonanywhere.com/alerts/view/{{ url }}"
       onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img
  src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/>
    </a>
         <!--/twitter -->

        <a  class='share-btn'  href="https://twitter.com/share?url=https://www.pythonanywhere.com/alerts/view/{{ url }}&text=somenone need your help #bloodOn" class="twitter-share-button"
           onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="http://bloodon.pythonanywhere.com/static/img/social/twitter-bird-light-bgs.png"
                 width="32px" height="32px" alt="Share on Twitter"/>
  </a>
    <!--/facebook -->
    <a  class='share-btn'  href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=http://https://www.pythonanywhere.com/alerts/view/{{ url }}/',
          'facebook-share-dialog',
          'width=626,height=436');
        return false;">
         <img src="http://bloodon.pythonanywhere.com/static/img/social/FB-f-Logo__blue_29.png"
                 width="32px" height="32px" alt="Share on Facebook "/>
    </a>