{% load i18n %}
<div id="place_alerts_details" class="modal" tabindex="-1" style="display: none;text-align:right">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <div id="" class="row-fluid"
         tabindex="-1" data-width="200" style="text-align:right">
      <div id="place_alerts" class="row-fluid">
      </div>
       <div class="text-center row">
             <a href="#" id="load_more_place"><i class="icon-plus-sign hand"></i></a> 
        </div>
    </div>
  </div>
  <div class="modal-footer" style="text-align:left">
    <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Close" %}</button>
  </div>
</div>