<div id="modal_calendar" class="modal fade" tabindex="-1" data-width="400" style="display: none;text-align:right">
  <div class="modal-header center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title text-center"></h4>
  </div>
  <div class="modal-body">
        <div id="alerts_body" class="row-fluid">
        </div>
        <div class="text-center row">
             <a href="#" id="load_more"><i class="icon-plus-sign hand"></i></a> 
        </div>
  </div>
</div>