{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
	<div> {{ form.errors }} </div>
	<form class="form password_change" id="login_form" role="form" method="POST" action="" >
	  {% csrf_token %}
		  <input type="password" class="form-control" name="oldpassword" placeholder="{% trans "current password" %}"></br>
		  <input type="password" class="form-control" name="password1"  placeholder="{% trans "Password" %}"></br>
		  <input type="password" class="form-control" name="password2"  placeholder="{% trans "Password (again)" %}"></br>
		  <button type="submit" name="action" class="btn btn-default">Enter</button>
	</form>
{% endblock %}
